input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
body {
background: linear-gradient(#001a33,#004f99);


}
.container {
/*
background: url(../img/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
*/

color:white;
}

.title{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	border-bottom: 3px solid #99b1ff;
	font-size: 17px;
	test-align: left;
	width: 100%;
	white-space: nowrap;
  overflow: hidden;
	
	font-style: normal;
}

.price{
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-size: 17px;
	border-bottom: 3px solid #99b1ff;
	float: left;
	white-space: nowrap;
  overflow: hidden;
	
	font-style: normal;
}

.date{
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	border-bottom: 3px solid #99b1ff;
	font-size: 17px;
	text-align: right;
	white-space: nowrap;
  overflow: hidden;
	font-style: normal;
	
}
.img-responsive{
	padding-top: 2%;
	width: 100%;
	height: 100%;
}

.row{
	
	margin: 3%;
	
}

.content_container{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color: #334d4d;
	padding: 1%;
}

 